<p id="notice"><%= notice %></p>
<h1>cartycartcart</h1>
<div id ="itemsContainer">
    
    <% if@cart.empty? %>
    <p>Please add some products</p>
    <% end %>
    
    <table id="customers">
        <% total = 0 %>
        <% @cart.each do |id, quantity| %>
        
        <% product = Product.find_by_id(id) %>
        
        <tr>
            <td>
                <div class="image">
                    
                    <%= link_to image_tag product.image, style:'width:10%' %>
                </div>
                
            </td>
            
            <td class="title"><%= link_to product.name, product %></td>
            <td><a href="/cart/remove/<%= product.id %>">Remove</a></td>
            <td class="price"><%= number_to_currency(product.price, :unit =>"€") %></td>
            <td class="quantity"><%= quantity %></td>
            <td class="price"><%= number_to_currency(quantity * product.price, :unit => "€")%></td>
            
            
        </tr>
        <tr>
            <% total += quantity * product.price %>
            
        </tr>
        
        <% end %>
        <tr>
            <td>
            Total: <%= number_to_currency(total, :unit => "€") %>
            </td>
        </tr>
        <td>
            <a href="/cart/clear" class="button">Clear Cart</a>
            
        </td>
        
        
    </table>
    
    
    
</div>