<p id="notice"><%= notice %></p>

<br>
   <h3 style="text-align: center">PRODUCTS</h3>
<br>
<hr>

<% Category.all.each do |cat| %>
<% end %>
<% Category.where(display_in_nav: true).each do |cat| %>
<% end %>
   <div class="container">
   <div class="row">
    <% @products.each do |product| %>
       <div class="col-md-3">
        <%= link_to image_tag(product.thumbnail), product, style:'width:100%' %>
        
         <br><strong><%= product.name %> </strong>
          <br><%= number_to_currency(product.price, :unit =>"€") %>
          <br>
          <p><%= link_to image_tag("ellipse.png"), product %>  <%= product.user.name %> </p>
        </p>
        <br>
      </div>
    <% end %>
    </div>
    </div>


