
<div class="container">
<h1 style="text-align: center">Handpicked Collections</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <%= link_to image_tag("collections3.jpeg"), root_path %>
      <div class="row">
        <div class="col-sm-4 other">
         <%= link_to image_tag("collections3.jpeg"), root_path %>
        </div>
        <div class="col-sm-4 other2">
          <%= link_to image_tag("collections3.jpeg"), root_path %>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col-sm-3 ">
      <%= link_to image_tag("collections1.jpeg"), root_path %>
    </div>
    <div class="col-sm-3 ">
     <%= link_to image_tag("collections1.jpeg"), root_path %>
     </div>
    </div>
  </div>
</div>


