<nav class="navbar navbar-expand-lg navbar-light bg-light topNav">
  <a class="navbar-brand"> <%= link_to image_tag("logo.png"), root_path %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse nav" id="navbarText">
    <ul class="navbar-navi mr-auto">
      <li class="nav-item active">
    <% if current_user && current_user.admin %>
     <li class="nav-item">
        <a><%= link_to "New Category", new_category_path %></a>
      </li>
      <% end %>
        <% if current_user && current_user.vendor %>
     <li class="nav-item">
        <a><%= link_to "My Store", vendor_path %></a>
      </li>
     <li class="nav-item">
        <a><%= link_to "Upload Product", new_product_path %></a>
      </li>

      <% end %>


    </ul>
    <span class="navbar-text ">
     <li class="nav-item">
        <% if current_user %>
        <a href='#'>Hi <%= current_user.name %></a>
        <a><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></a>
      </li>
       <li class="nav-item">
        <a><%= link_to "My Products", vendor_path %></a>
      </li>
       <li class="nav-item">
        <a><%= link_to "Cart", cart_path %></a>
      </li>

      <li class="nav-item">
        <% else %>
        <a><%= link_to "Sign In", new_user_session_path %></a>
      </li>      
      <li class="nav-item">
       <a><%= link_to "Register", new_user_registration_path %></a>
       <% end %>
      </li>
    </span>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light botNav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
     <% Category.where(display_in_nav: true).each do |cat| %>
<%= link_to cat.name, products_path(category: cat.name)
%>
<% end %>


    </div>
  </div>
</nav>

