   <h3 style="text-align: center; margin-top: 60px;  margin-bottom: 50px">Newest Items</h3>

   <div class="container">
   <div class="row">
    <% @products.limit(8).order("created_at DESC").each do |product| %>
      <div class="col-md-3">
        <%= link_to image_tag(product.thumbnail), product, style:'width:100%' %>
        
         <br><strong><%= product.name %> </strong>
          <br><%= number_to_currency(product.price, :unit =>"€") %>
          <br>
          <p><%= link_to image_tag("ellipse.png"), product %>  <%= product.user.name %> </p>
        </p>
        <br>
      </div>
    <% end %>
    </div>
    </div>


