   <h3 style="text-align: center">NEWEST ITEMS</h3>
   <div class="container">
    <% @products.each do |product| %>
      <div class="itemhols">
        <%= link_to image_tag product.thumbnail, style:'width:100%' %>
        
         <br class="prodtit"><%= product.name %>
          <br><%= number_to_currency(product.price, :unit =>"€") %>
          <br>
          <%= product.category.name %>
          <br>
        <a href="/cart/<%= product.id %>" class ="button">Add to Cart</a>
        <%= link_to 'Show', product,  :class =>"button", :role=>"button" %>
        <%= link_to 'Edit', edit_product_path(product), :class =>"button", :role=>"button" %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' },  :class =>"button", :role=>"button" %>
        </p>
      </div>
    <% end %>
    </div>


