<p id="notice"><%= notice %></p>

<h1>Products | <%= link_to "New Category", new_category_path %></h1>
<br>
<hr>
<br>
All Categories<br>
<% Category.all.each do |cat| %>
<%= link_to cat.name, products_path(category: cat.name)
%>
<br>
<% end %>
<br>
<hr>
<br>
Navigation only<br>
<% Category.where(display_in_nav: true).each do |cat| %>
<%= link_to cat.name, products_path(category: cat.name)
%>
<br>
<% end %>
<br>
<hr>
<br>


    <% @products.each do |product| %>
      <div class="itemhols">
        <%= link_to image_tag product.image, style:'width:100%' %>
        
         <p><%= product.name %>
         </p>
          <p><%= product.price %>
          <br>
          <%= product.category.name %>
          </p>
        <p></p>
        <%= link_to 'Show', product,  :class =>"button", :role=>"button" %>
        <%= link_to 'Edit', edit_product_path(product), :class =>"button", :role=>"button" %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' },  :class =>"button", :role=>"button" %>
        </p>
      </div>
    <% end %>


<br>

<%= link_to 'New Product', new_product_path %>
